<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">
    <blog-post
            v-for="post in posts"
            v-bind:key="post.id"
            v-bind:post="post"
    ></blog-post>
</div>

<div id="blog-posts-events-demo">
    <div :style="{ fontSize: postFontSize + 'em' }">
        <blog-post-01
                v-for="post in posts"
                v-bind:key="post.id"
                v-bind:post="post"
                v-on:enlarge-text="onEnlargeText(0.1)"
        ></blog-post-01>
    </div>
</div>

<div id="blog-posts-events-demo1">
    <div :style="{ fontSize: postFontSize + 'em' }">
        <blog-post-01
                v-for="post in posts"
                v-bind:key="post.id"
                v-bind:post="post"
                v-on:enlarge-text="postFontSize += 0.1"
        ></blog-post-01>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>

    Vue.component('blog-post', {
        props: ['post'],

        // 上述的这个和一些接下来的示例使用了 JavaScript 的模板字符串来让多行的模板更易读。
        // 它们在 IE 下并没有被支持，所以如果你需要在不 (经过 Babel 或 TypeScript 之类的工具) 编译的情况下支持 IE，
        // 请使用折行转义字符取而代之。
        template: `
          <div class="blog-post">
          <h3>{{ post.title }}</h3>
          <div v-html="post.content"></div>
          </div>
        `
    })

    Vue.component('blog-post-01', {
        props: ['post'],
        template: `
          <div class="blog-post">
          <h3>{{ post.title }}</h3>
          <button v-on:click="$emit('enlarge-text')">
            Enlarge text
          </button>
          <div v-html="post.content"></div>
          </div>
        `
    })

    let vm1 = new Vue({
        el: '#blog-posts-events-demo',
        data: {
            posts: [
                {'title': 'title1', 'content': '<h3>content1</h3>'},
                {'title': 'title2', 'content': '<h3>content2</h3>'},
                {'title': 'title3', 'content': '<h3>content3</h3>'},
                {'title': 'title4', 'content': '<h3>content4</h3>'},
            ],
            postFontSize: 1
        },
        methods: {
            onEnlargeText: function (enlargeAmount) {
                this.postFontSize += enlargeAmount
            }
        }
    })

    let vm = new Vue({
        el: '#app',
        data: {
            posts: [
                {'title': 'title1', 'content': '<h3>content1</h3>'},
                {'title': 'title2', 'content': '<h3>content2</h3>'},
                {'title': 'title3', 'content': '<h3>content3</h3>'},
                {'title': 'title4', 'content': '<h3>content4</h3>'},
            ]
        }
    })

</script>
</body>
</html>